/*@import './utilities/variables';*/
.app-wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
}
.main{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 1;
}
.content{
  position: absolute;
  top: 100vh; left: 0;
  width: 100%;
  z-index: 2;
  background-color: #f5fdff;
}